@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Complete Body Layout */
.bodyDiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */
.footerDiv{
    height: 45vh;
    background-color: grey;
}
#footer{
    margin-top: 19vh;
    color: white;
    font-size: 2vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width : 500px) {
    .footerDiv{
        height: 30vh;
        background-color: grey;
    }
    #footer{
        margin-top: 14vh;
        color: white;
        font-size: 2.5vw;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.bolder{
    font-size: larger;
    font-weight: bolder;
}
#fl{
    text-align: center;
}
.sicon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.sicon div img{
    width: 2em;
    height: 2em;
}
.g{
    margin-right: 1em;
}
#sl{
    text-align: center;
}

/* Nav */
.navb{
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    font-size: 1.2rem;
}

.navb div a{
    text-decoration: none;
    color: purple
}

#logoutbtn{
    border: none;
    background-color: transparent;
    color: purple;
    font-size: 1.2rem;
}

.fir{
    align-content: start;
}
.seco{
    margin-left: auto;
    margin-right: 1vw;  
}
/* For Mobile */
@media screen and (max-width : 500px) {
    .navb{
        display: flex;
        width: 98vw;
        margin-left: 1vw;
        font-size: 1.2rem;
        flex-wrap: nowrap;
    }
    
    .navb div a{
        text-decoration: none;
    }
    .fir{
        align-content: start;
    }
    .seco{
        margin-left: auto;
        margin-right: 1vw;  
    }
}

/* Content Div */
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    margin-top: 10vh;
    margin-left: 8vh;
}

@media screen and (max-width : 500px) {
    .content{
        margin-left: 2vh;
    }
}
.bloglist .indBlog a{
    text-decoration: none;
    color: coral;
    font-size: 1.8rem;
    background: linear-gradient(93.51deg, rgb(124, 71, 235) 10.94%, rgb(233, 53, 161) 86.95%);
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
}
.bloglist{
    display: flex;
    flex-direction: column;
}
.bloglist .indBlog{
    border: 2px dashed purple;
    padding-left: 45%;
    margin: 2vh;
    white-space: nowrap;
    object-fit: contain;
}

@media screen and (max-width : 500px) {
    .bloglist .indBlog{
        border: 2px dashed purple;
        padding-left: 19vw;
        margin: 1vh;
        cursor: pointer;
        white-space: nowrap;
        object-fit: contain;
    }
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 1.6rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.pagination a{
    text-decoration: none;
    color: purple;
}
.current{
    color: bl;
}

@media screen and (max-width : 500px) {
    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        font-size: 1rem;
        font-weight: bolder;
        margin-left: -2vh;
        margin-right: 0;
        margin-top: 1vh;
        margin-bottom: 1vh;
        text-decoration: none;
    }
    .pagination a{
        text-decoration: none;
        color: purple;
    }
}






