@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Complete Body Layout */
.bodyDiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */
.footerDiv{
    height: 45vh;
    background-color: grey;
}
#footer{
    margin-top: 19vh;
    color: white;
    font-size: 2vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width : 500px) {
    .footerDiv{
        height: 30vh;
        background-color: grey;
    }
    #footer{
        margin-top: 14vh;
        color: white;
        font-size: 2.5vw;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.bolder{
    font-size: larger;
    font-weight: bolder;
}
#fl{
    text-align: center;
}
.sicon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.sicon div img{
    width: 2em;
    height: 2em;
}
.g{
    margin-right: 1em;
}
#sl{
    text-align: center;
}

/* Nav */
.navb{
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    font-size: 1.2rem;
}

.navb div a{
    text-decoration: none;
    color: rgba(132, 0, 255, 0.833);
}
.fir{
    align-content: start;
}
.seco{
    margin-left: auto;
    margin-right: 1vw;  
}
/* For Mobile */
@media screen and (max-width : 500px) {
    .navb{
        display: flex;
        width: 98vw;
        margin-left: 1vw;
        font-size: 1.2rem;
        flex-wrap: nowrap;
    }
    
    .navb div a{
        text-decoration: none;
    }
    .fir{
        align-content: start;
    }
    .seco{
        margin-left: auto;
        margin-right: 1vw;  
    }
}
