{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %} BlogForVocab {% endblock %}

{% block content %}

<div class="bloglist">
    {% for i in page_obj %}
    <div class="indBlog">
        <a href="{%  url 'bloglist' i.category %}">{{ i.category }}</a> <br>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous| </a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> |Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}






 
 





<!-- 
<body>

    <p>
    
    </p>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"><br>
        {{ afterform }} <br>
        {{ uploaded.title }} <br>
        <img src="{{ uploaded.imdir.url }}" alt="Image"> <br>
    </form>
    
    <script src="{% static 'blogapp/home.js' %}" ></script>  
</body>
</html> -->
