{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %} BlogForVocab {% endblock %}

{% block content %}
<h3>{{ count }} {{ blog_category }} blog{{count|pluralize}} available</h3>
{% for i in page_obj %}
<form action="{% url 'detailedblog' i.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" style="background-color: white; border: 0px; color: blue; text-decoration: underline;">{{i.title}}</button>
</form>
<strong> Contributed By - {{ i.contributor|capfirst }}</strong>
{{ i.time_created }} <br>
{{ i.short_description}} <br>
{{ i.content|safe|truncatechars:300 }} <br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}



